.btn {
  padding: 1rem 2rem;
  background-color: $primary-color;
  color: $secondary-color;
  border-radius: 5px;
  transition: 0.3s;
  font-weight: 400;
  font-size: 1.2rem;

  &:hover {
    color: rgb(129, 129, 129);
    background-color: $secondary-color;
    cursor: pointer;
  }
}
