.header__menu {
  display: flex;
  justify-content: center;
  list-style: none;
  position: relative;

  &-item {
    position: relative;
  }

  &-content {
    display: block;
    position: absolute;
    width: max-content;
    height: max-content;
    top: 3rem;
    left: 0;
    opacity: 0;
    display: none;
    transition: 0.2s;
    border: 1px solid $primary-color;
    border-radius: 10px;
    background-color: $secondary-color;

    &:hover {
      opacity: 1;
      display: block;
    }

    &::before {
      content: '';
      position: absolute; /* Абсолютное позиционирование */
      left: 20px;
      top: -2rem; /* Положение треугольника */
      border: 10px solid transparent;
      border-bottom: 10px solid rgb(1, 35, 73);
    }
    &::after {
      content: '';
      position: absolute; /* Абсолютное позиционирование */
      left: 20px;
      top: -2rem; /* Положение треугольника */
      border: 10px solid transparent;
      border-bottom: 10px solid transparent;
    }
  }

  &-list {
    list-style: none;
    display: block;
    width: max-content;
    overflow-x: hidden;
    padding: 1rem 0;
    transition: 0.3s;

    &-item {
      padding: 1rem 3rem;
      transition: 0.2s;
      text-transform: uppercase;

      &:first-child {
        border-radius: 10px 10px 0 0;
      }
      &:last-child {
        border-radius: 0 0 10px 10px;
      }

      &:hover {
        background-color: rgb(187, 215, 226);
        scale: 1.1;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }

  &-item {
    font-size: 1.3rem;
    font-weight: 400;
    margin-right: 2rem;
  }

  &-link {
    text-decoration: none;
    text-transform: uppercase;
    color: $primary-color;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 1rem;
      left: 0;
      width: 20rem;
      height: 10rem;
    }

    &:hover + div {
      display: block;
      opacity: 1;
    }
  }
}
